header{
  background-color: blue;
  min-height: 25vh;
  display:inline-block;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  font-size: calc(10px + 2vmin);
   justify-content: center;
   text-align: center;
   color:purple;

}

footer{
  background-color: brown;
  color:white;
  font-size: calc(5px + 2vmin);
  text-align: bottom;

}